body{
	font-family: tahoma;
	background-color: #eae7dc;
}

#nav-bar{
	height: 50px;
	background-color: #25274d;
	color: #c5c6c7;
}

#search_box{
	width: 400px;
	height: 20px;
	border-radius: 5px;
	border: none;
	padding: 4px;
	font-size: 14px;
	background-image: url(search.png);
	background-repeat: no-repeat;
	background-position: right;
}
